.dropdown-menu {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-item.active {
    color: inherit;
    background-color: transparent;
}


.dropdown-item:active {
    background-color: transparent;
    color: inherit;
}


.dropdown-item:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


.nav-dropdowns {
    display: flex;
    justify-content: space-around;
}
